/* card section */
.car-card{
    height: 630px;
    border: 5px solid rgb(243, 237, 237);
    border-radius: 18px;
    z-index: 0;
    transition: 0.2s all;
}

.car-card:hover{
    z-index: 1;
    box-shadow: 0 8px 50px gray;
    transform: scale(1.05);
}

.car-card img{
    border-radius: 15px;
}

/* buy now button */
.buy-now-button{
    border: none;
    background-color: rgb(233, 31, 31);
    color: white;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 5px;
}