.specail{
    border-radius: 15px;
    
}
.specail-text{
    background-color: white;
    padding: 50px;
    padding-bottom: 40px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 10px 20px 50px rgb(182, 178, 178);
}
.customer-offer{
    height: 500px;
    border-radius: 15px;
}
.customer-offer-text{
    background-color: white;
    padding: 40px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 10px 20px 50px rgb(182, 178, 178);
    
}